 body{
    background-color: rgb(214, 226, 240);
    font-size: 15px;
    font-family: 'Karla', sans-serif;
}
main.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .container{
     padding-top: 10px;
     padding-bottom: 8px;
     width:300px;
     border-radius: 20px;
     text-align: center;
     background-color: rgb(255, 255, 255);
 }

 img{
    height: 280px;
    width: 270px;
    border-radius: 15px;
    padding:5px;
}

h2{
    color: rgb(31, 50, 81);
    margin: 15px;
    font-size: 18px;
    padding:0 1rem;
}

p{
    color: rgb(123, 135, 157);
    margin: 15px;
    margin-bottom: 15px;
    font-size: 13.7px;
    padding: 0 1rem;
    padding-bottom: 0.2rem;
}